* {
	font-family: "Rajdhani", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	margin: 0;

	background-color: rgb(22, 22, 21);
}
.titulo {
	color: aliceblue;
	font-size: 20px;
	padding-top: 5px;
}
.img_data {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	object-fit: contain;
}

.carousel {
	height: 100%;
	width: 100%;
}
.carousel-item {
	height: 100%;
	width: 100%;
}
.carousel-inner {
	height: 100%;
	width: 100%;
}
.main_data {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-bottom: 0.75rem;
}
